doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    // FONTS INITIALIZATION
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
    // END OF FONTS INITIALIZATION
  body
    main#checkoutVue(role="main" class="container")
      .card-header(style="font-size: 22px; font-family: 'Ubuntu', sans-serif;")
      img(src='./resources/images/yunyon.png')
      span(style="font-size: 22px; font-family: 'Ubuntu', sans-serif;")| &emsp;Yun-yon Online Shop - Checkout
      span(style='position: absolute; left: 92%')
      .card-body
      .card-title
      section
        table.table#productsTable
          tr
            th ID
            th Product Name
            th Category
            th Price /ea
            th Stock
            th Quantity
            th Total Price
          tr(v-for="checkoutItem in checkoutItems")
            td {{ checkoutItem.id }}
            td {{ checkoutItem.productName }}
            td {{ checkoutItem.category }}
            td {{ checkoutItem.price }}
            td {{ checkoutItem.quantity }}
            td
              input(type="number" style="width:50px" value="1" min="1" v-model="orderQuantity")
              button(v-on:click="checkoutProducts(checkoutItem)" style="float:right") Checkout

      i.fa.fa-home.fa-2x.text-primary
      .card-footer.text-muted UnionBank Blockchain Institute

  script(src="/axios.min.js")
  script(src="/vue.js")
  script(src="/checkout-vue.js")
