doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title

    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

  body
    main(role="main" class="container")
      h1 Add Product
      form(action="/products" method="POST")
        .form-group
          label Product Name
          input.form-control#productName(type="text" v-model="title")
        .form-group
          label Category
          input.form-control#category(type="text" v-model="category")
        .form-group
          label Price
          input.form-control#price(type="text" v-model="price")
        .form-group
          label Quantity
          input.form-control#quantity(type="text" v-model="quantity")
        .form-group
          button.btn.btn-primary(type="button" v-on:click="addProduct") Add Product
  
  script(src="/axios.min.js")
  script(src='/vue.js')
  script(src="/products-vue.js")
